altair
annotated-types
anyio
attrs
backoff
black
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
coverage
cymem
distro
flake8
gitdb
GitPython
groq
h11
httpcore
httpx
idna
iniconfig
isort
Jinja2
joblib
jsonschema
jsonschema-specifications
langcodes
language_data
lxml
marisa-trie
markdown-it-py
MarkupSafe
mccabe
mdurl
murmurhash
mypy-extensions
narwhals
numpy
pandas
pathspec
pillow
plotly
pluggy
preshed
prometheus_client
protobuf
pyarrow
pycodestyle
pydantic
pydantic-settings
pydantic_core
pydeck
pyflakes
pypdf
pyphen
pytest
pytest-asyncio
pytest-cov
python-docx
python-dotenv
pytz
pywin32
referencing
requests
rich
rpds-py
scikit-learn
scipy
setuptools
shellingham
smart-open
smmap
sniffio
srsly
streamlit
structlog
tenacity
textstat
thinc
threadpoolctl
toml
tqdm
typer
typing_extensions
tzdata
urllib3
wasabi
watchdog
weasel
wheel
wrapt
